
.subhead_style a
{
	color: #fff;
}
.subhead_style:hover
{
	background-color: rgba(1, 1, 1, 0.3);
}

.subhead_style_selected
{
	background-color: rgba(1, 1, 1, 0.3);

    a{
        color: #fff;
    }
}
.subhead_style_selected:hover
{
	background-color: rgba(1, 1, 1, 0.6);

    a{
        color: #fff;
    }
}
