#mv-nav{
    tr td
    {
        padding: .5rem !important;

        a{
            color: rgba(255, 255, 255, 0.8);
        }
    }

    tr td:hover{
        background-color: rgba(255, 255, 255, 0.2);
    }

}

.subhead_style a
{
	color: #fff;
}
.subhead_style:hover
{
	background-color: rgba(255, 255, 255, 0.3);
}

.subhead_style_selected
{
	background-color: rgba(255, 255, 255, 0.3);

    a{
        color: #fff;
    }
}
.subhead_style_selected:hover
{
	background-color: rgba(255, 255, 255, 0.8);

}
.subhead_style_selected:hover a
{
    color: #333 !important;
}

#HelpDisplayDiv{
	padding: 1rem !important;
	border: solid 1px #333;
}

TABLE.help_td {
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: none !important;
	color: #333 !important;
	font-size: 10pt;
	background: #fff !important;
	border: none !important;
}

/* Forms */

input[type="text"]{
    margin-top:.5rem;
    margin-bottom:.5rem;
    /*display: block;*/
    /*width: 100%;*/
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input[type="button"]{
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
    color: #6c757d !important;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background-color: #fff !important;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-color: #6c757d;
}
input[type="button"]:hover{
    color: #fff !important;
    background-color: #6c757d !important;
    border-color: #6c757d;
}
input[type="checkbox"]{
	width: 1em;
	height: 1em;
	margin-top: .25em;
	vertical-align: top;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 1px solid rgba(0,0,0,.25);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
}
select{
    margin-top:.5rem;
    margin-bottom:.5rem;

    /*display: block;*/
    /*width: 100%;*/
    padding: .375rem 2.25rem .375rem .75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}